@charset "ISO-8859-1"; 
body {
	
	background-color:#000;
	
 
}
 
div.wrapper {
	text-align: left;
	margin:50px 0 0 50px;
	font-family: "Courier New", Courier, monospace;
   }
 
body {
  font-size: 10px;
  font-family: Helvetica, sans-serif;
  color: white;
  text-align: left;
  background-color: black;
  line-height: 120%;
}
 

 



p,td,tr,table {
  font-size: 1em;
  line-height: 150%;
  font-family: Helvetica, sans-serif;
  color: white;
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 12px;
}
h1 {
  font-size: 10px;
  line-height: 150%;
  font-family: Helvetica, sans-serif;
  color: white;
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 12px;
        letter-spacing: 5px;
}
h2 {
  font-size: 24px;
  line-height: 120%;
  font-weight: normal;
  font-family: Verdana, sans-serif;
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}
h3 {
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -5px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}
h4 {
  font-size: 12px;
}

#wrap{
width:100px;


float:left;
}


#wrap p span{
float:right;
}


